@use '../global/' as g;

.c-btn {

  &__01 {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;

    background-color: g.$white01;
    padding: 10px 24px;
    border-radius: 50px;

    @include g.media(sp) {
      font-size: 14px;
      padding: 8px 16px;
    }

    &:after {
      content: "";
      display: inline-block;
      width: 24px;
      height: 24px;
      background: url("../images/icon-arrow-right-up.svg") no-repeat center / cover;
    }

    &.download {
      &:after {
        background-image: url("../images/icon-download.svg");
      }
    }
  }

  &__02 {
    display: inline-block;
    text-decoration: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;

    background-color: g.$green01;
    color: g.$white01;
    padding: 12px 24px;
    border-radius: 50px;
  }

  &__03 {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;

    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;

    color: g.$gray01;
    background-color: g.$white01;
    padding: 8px 16px;
    border-radius: 50px;
    border: 1px solid #E8E9EA;

    &:after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("../images/icon-arrow-right-up-02.svg") no-repeat center / cover;
    }

  }

  &__04 {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    background-color: g.$black01;
    color: g.$white01;
    padding: 12px 24px;
    border-radius: 50px;
  }

  &__05 {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;

    color: g.$gray01;

    &:after {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      background: url("../images/icon-arrow-right-up-03.svg") no-repeat center / cover;
    }
  }

  &__06 {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.02em;
    padding: 12px 24px;
    border-radius: 50px;
    border: 1px solid #1A1A1B;
  }

  &__07 {
    cursor: pointer;
    display: inline-block;
    background-color: g.$green01;
    color: g.$white01;
    padding: 12px 24px;
    border-radius: 50px;
  }
}