@use '../global/' as g;

.c-search {}


.form-contact {
  margin-top: 64px;
  max-width: 576px;

  @include g.media(sp) {
    margin-top: 40px;
  }

  &-body {
    &>*:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  &-group {
    label {
      display: block;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: -0.02em;
      color: g.$gray01;

      margin-bottom: 8px;
    }

    input,
    select,
    textarea {
      width: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 1;
      letter-spacing: 0;

      padding: 12px;
      border: 1px solid g.$gray03;
      border-radius: 8px;
      margin-top: 8px;

      &::placeholder {
        color: g.$gray02;
      }

      &:focus {
        border-color: g.$green01;
      }
    }

    textarea {
      height: 104px;
    }

    &02 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 12px;
    }
  }

  &-btns {
    margin-top: 64px;

    @include g.media(sp) {
      margin-top: 40px;
    }

    &-02 {
      margin-top: 48px;

      @include g.media(sp) {
        margin-top: 40px;
      }
    }
  }
}