@use '../global/' as g;

.c-paging {

    margin-top: 36px;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;

    .page-numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      width: 35px;
      height: 35px;
      border: 1px solid g.$green01;

      &.current {
        background-color: g.$green01;
        color: g.$black01;
      }
    }
}