@use '../global/' as g;

.l-container {
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding: 0 20px;

  &.small {
    max-width: 1300px;
  }

  &.not-padding {
    @include g.media(sp) {
      padding: 0;
    }
  }
}

@keyframes home-partners-row-top {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}