@use '../global/' as g;

.p-contact {
  &__sec {
    &01 {
      padding-block: 80px;

      @include g.media(sp) {
        padding-block: 40px;
      }

      &--box {
        &01 {
          display: grid;
          grid-template-columns: 1fr 490px;
          gap: 24px;
          align-items: end;

          @include g.media(tab) {
            grid-template-columns: 1fr 1fr;
          }

          @include g.media(sp) {
            grid-template-columns: 1fr;
          }
        }

        &02 {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 24px;
          margin-top: 80px;

          @include g.media(sp) {
            margin-top: 40px;
            grid-template-columns: repeat(2, 1fr);
          }

          .sec01 {
            &-item {

              &03,
              &04 {
                background-color: g.$gray05;
              }

              &02,
              &03,
              &04 {
                padding: 24px;
              }

              &01 {
                grid-column: 1/3;
                grid-row: 1/3;

                @include g.media(sp) {
                  grid-column: 1/3;
                  grid-row: 1/2;
                }

                img {
                  width: 100%;
                }
              }

              &02 {
                display: flex;
                flex-direction: column;
                gap: 16px;
                color: g.$white01;
                background-color: g.$green01;

                @include g.media(pc-only) {
                  grid-column: 3/5;
                  grid-row: 1/2;
                }

                @include g.media(sp) {
                  grid-column: 1/3;
                }

                .text {
                  &01 {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 24px;
                    letter-spacing: -0.03em;
                    color: #FFFFFF99;
                  }

                  &02 {
                    font-weight: 200;
                    font-style: Light;
                    font-size: 100px;
                    line-height: 1.1;
                    letter-spacing: -0.04em;
                  }

                  &03 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                    margin-top: auto;
                  }
                }

              }

              &03 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 16px;

                .text {
                  &01 {
                    position: relative;
                    display: inline-block;
                    font-weight: 400;
                    font-size: 56px;
                    line-height: 64px;
                    letter-spacing: -0.04em;

                    @include g.media(sp) {
                      font-size: 32px;
                    }

                    &::after {
                      content: "";
                      position: absolute;
                      top: 50%;
                      left: calc(100% + 12px);
                      width: 16px;
                      height: 16px;
                      background-color: g.$black01;
                      transform: translateY(-50%);
                      clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                    }
                  }

                  &02 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: -0.02em;
                    color: g.$gray04;
                  }
                }
              }

              &04 {
                background-image: url("../images/icon-arrow-right-up-green.svg");
                background-repeat: no-repeat;
                background-position: bottom 24px right 24px;

                .text {
                  &01 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    letter-spacing: -0.03em;
                  }
                }
              }
            }
          }
        }
      }

      &--desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.02em;
        color: g.$gray01;
      }
    }

    &02 {
      max-width: 1440px;
      margin-inline: auto;

      .p-cus__sec03--box02 {
        @include g.media(pc-only) {
          height: 810px;
        }
      }
    }

    &03 {
      padding-block: 80px;

      @include g.media(sp) {
        padding-block: 40px;
      }

      &--box {
        &01 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 24px;

          @include g.media(sp) {
            grid-template-columns: 1fr;
          }
        }
      }

      &--form {
        margin-top: 48px;
      }
    }

    &04 {
      padding-block: 120px;

      @include g.media(sp) {
        padding-block: 40px;
      }

      &--box {
        &02 {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px;
          margin-top: 80px;

          @include g.media(sp) {
            grid-template-columns: repeat(2, 1fr);
            margin-top: 40px;
          }

          .file {
            &-item {
              background-color: g.$gray05;
              padding: 24px;
            }

            &-content {
              margin: 16px 0 32px;

            a {
              text-decoration: none;
              color: g.$black01;
            }

              .title {
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                letter-spacing: -0.03em;
                margin-bottom: 4px;
                min-height: 48px;

                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                line-clamp: 2;
              }

              .text01 {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: -0.02em;
                color: g.$gray04;
              }
            }
          }
        }
      }
    }
  }
}