@use '../global/' as g;

.p-home {
  &__mv {
    position: relative;
    overflow: hidden;

    &--item {
      position: relative;
      min-height: 100vh;
      width: 100%;
      overflow: hidden;

      @include g.media(sp) {
        min-height: 804px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 7.47%, rgba(0, 0, 0, 0.35) 66.94%, rgba(0, 0, 0, 0) 100%);
        z-index: 1;
      }
    }

    &--thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      display: block;
      z-index: 0;

      &.type-02 {
        @include g.media(sp) {
          object-position: bottom;
        }
      }
    }

    &--contents {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      max-width: 1380px;
      height: 100%;
      padding: 20px;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      flex-direction: column;
      z-index: 3;

      @include g.media(sp) {
        justify-content: start;
        padding-top: 194px;
      }

      &.type-02 {
        .p-home__mv--title {
          p {
            &:first-child {
              font-size: 100px;

              @include g.media(sp) {
                font-size: 48px;
              }
            }

            &:last-child {
              margin-top: 32px;

              @include g.media(sp) {
                margin-top: 12px;
              }
            }
          }
        }

        .p-home__mv--text01 {
          margin: 55px 0 47px;
          max-width: 555px;

          @include g.media(sp) {
            margin-block: 24px;
          }
        }
      }
    }

    &--title {
      p {
        color: g.$white01;
        letter-spacing: -0.04em;

        &:first-child {
          font: 200 90px g.$font-family02;
          font-style: Italic;
          line-height: 64px;

          @media screen and (max-width: 1366px) {
            font-size: clamp(40px, 10vw, 100px);
          }

          @include g.media(sp) {
            font-size: 44px;
            line-height: 40px;
          }
        }

        &:last-child {
          font-weight: 600;
          font-size: 72px;
          line-height: 56px;
          margin-top: 24px;

          @media screen and (max-width: 1366px) {
            font-size: clamp(30px, 8vw, 80px);
            margin-top: 12px;
          }

          @include g.media(sp) {
            font-size: 32px;
            line-height: 24px;
          }

          &.type-02 {
            line-height: 1;

            @include g.media(sp) {
              font-size: 36px;
            }
          }
        }
      }
    }

    &--text {
      &01 {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.03em;
        margin: 48px 0 111px;
        color: g.$white01;

        @include g.media(sp) {
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -0.02em;
          margin: 24px 0 64px;
        }
      }
    }

    .swiper-pagination {
      background: #00000080;
      padding: 8px;
      border-radius: 100px;

      &-bullet {
        width: 8px;
        height: 8px;
        transform: scale(1) !important;

        &-active {
          background-color: #fff;
        }
      }
    }
  }

  &__since {
    padding: 120px 0 80px;

    @include g.media(sp) {
      padding: 80px 0 40px;
    }

    &--box {
      &01 {
        display: grid;
        grid-template-columns: 1fr 480px;
        align-items: end;
        gap: 40px;
        margin-bottom: 100px;

        @media screen and (max-width: 1200px) {
          grid-template-columns: 61.8% calc(38.2% - 10px);
          gap: 16px;
        }

        @include g.media(sp) {
          grid-template-columns: 1fr;
          margin-bottom: 64px;
        }

        &-right {
          &>* {
            &:not(:last-child) {
              margin-bottom: 16px;
            }
          }
        }
      }

      &02 {
        display: grid;
        grid-template-columns: 1fr 480px;
        gap: 40px;

        @media screen and (max-width: 1200px) {
          grid-template-columns: 61.8% calc(38.2% - 10px);
          gap: 16px;
        }

        @include g.media(sp) {
          grid-template-columns: 1fr;
        }

        img {
          width: 100%;
          max-width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  &__our {
    overflow: hidden;
    padding: 40px 0 80px;

    @include g.media(sp) {
      padding: 40px 0;
    }

    &--box {
      &01 {
        text-align: center;
        margin-bottom: 48px;

        .c-text__intro01 {
          @include g.media(sp) {
            margin-bottom: 8px;
          }
        }
      }

      &02 {
        padding-top: 70px;

        @include g.media(sp) {
          padding-top: 0;
        }
      }

      &03 {
        position: relative;
        display: grid;
        grid-template-columns: 300px 1fr 300px;

        @include g.media(tab) {
          grid-template-columns: 1fr 1fr 1fr;
          gap: 24px;
        }

        @include g.media(sp) {
          display: flex;
          flex-direction: column;
          gap: 0;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 76%;
          height: 100%;
          transform: translateX(-50%);
          max-height: 91px;
          border-radius: 32px 32px 0 0;
          border: 1px dashed g.$gray02;
          border-bottom: 0;

          @media screen and (max-width: 1200px) {
            width: 70%;
          }

          @include g.media(sp) {
            content: unset;
          }
        }
      }

      &04 {
        position: relative;
        max-width: 1110px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px;
        margin-inline: auto;
        padding-top: 66px;

        @include g.media(tab) {
          gap: 24px;
        }

        @include g.media(sp) {
          display: flex;
          flex-direction: column;
          gap: 0;
          padding: 0;
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          width: 71%;
          height: 100%;
          transform: translateX(-50%);
          max-height: 91px;
          border-radius: 32px 32px 0 0;
          border: 1px dashed g.$gray02;
          border-bottom: 0;

          @include g.media(sp) {
            content: unset;
          }
        }
      }
    }

    &--item {
      position: relative;
      text-align: center;

      @include g.media(sp) {
        text-align: left;
        display: grid;
        grid-template-columns: 64px 1fr;
        gap: 16px;
        padding-block: 20px;
      }

      &.first,
      &.last {
        margin-top: 60px;

        @include g.media(sp) {
          margin-top: 0;
        }
      }

      &.first {
        @include g.media(sp) {
          order: 1;
        }
      }

      &.last {
        @include g.media(sp) {
          order: 2;
        }
      }

      .icons {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        margin-inline: auto;
        background-color: #F8F8F8;
        border-radius: 12px;

        img {
          width: 48px;
          height: 48px;
          object-fit: cover;
        }
      }

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: -0.03em;
        margin-top: 16px;

        @include g.media(sp) {
          margin-top: 0;
        }
      }

      .desc {
        font-weight: 450;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: g.$gray01;
        margin: 12px 0 16px;

        @include g.media(sp) {
          margin: 8px 0 16px;
        }
      }

      &-center {
        display: inline-flex;
        width: 466px;
        margin-inline: auto;
        padding: 10px;
        border: 1px dashed g.$gray02;
        border-top: 0;
        border-bottom: 0;

        @media screen and (max-width: 1200px) {
          width: auto;
        }

        @include g.media(sp) {
          position: relative;
          left: -20px;
          width: calc(100% + 40px);
          padding: 0;
          border: 0;
          order: 0;
        }
      }

      &-main {
        text-align: center;
        background: url("../images/home-page/img-our-bg-02.png") no-repeat center / cover;
        padding: 40px 11px 30px;
        border-radius: 32px;

        @include g.media(sp) {
          text-align: left;
          display: grid;
          grid-template-columns: 64px 1fr;
          gap: 16px;
          padding: 20px;
          border-radius: 0;
        }

        .icons {
          position: relative;
          margin-bottom: 32px;

          &::before {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            width: 36px;
            height: 129px;
            transform: translateX(-50%);
            background: url("../images/home-page/icons/icon-our-01.png") no-repeat center / cover;

            @include g.media(sp) {
              content: unset;
            }
          }
        }

        .title {
          font-weight: 600;
          font-size: 24px;
          line-height: 32px;
          letter-spacing: -0.03em;
          margin-bottom: 12px;

          @include g.media(sp) {
            margin-bottom: 8px;
          }
        }

        .desc {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -0.02em;
          color: g.$gray01;
          margin-bottom: 32px;

          @include g.media(sp) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  &__partners {
    padding-block: 40px;
    overflow: hidden;

    &--box {
      &01 {
        text-align: center;
        margin-bottom: 64px;
        padding-inline: 20px;
      }

      &02 {
        display: flex;
        animation: home-partners-row-top 15s linear infinite;

        @include g.media(sp) {
          animation-duration: 10s;
        }
      }
    }

    .swiper-slide {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      flex: none;
      width: 240px;
      height: 240px;
      border: 1px solid g.$gray02;
      border-width: 1px 1px 1px 0;

      @include g.media(sp) {
        height: 160px;
        padding: 30px;
      }

      img {
        width: auto;
        max-width: 174px;
        max-height: 96px;
        object-fit: contain;

        @include g.media(sp) {
          max-width: 116px;
          max-height: 63px;
        }
      }
    }

    .swiper-partners {
      .swiper-wrapper {
        transition-timing-function: linear !important;
      }
    }
  }

  &__posts {
    overflow: hidden;
    padding: 80px 0;

    @include g.media(sp) {
      padding: 40px 20px;
    }

    .l-container {
      overflow: hidden;

      @include g.media(sp) {
        padding-inline: 0;
      }
    }

    .overflow-auto {
      padding: 0 0 10px 20px;

      @media screen and (max-width: 1673px) {
        overflow: auto;

        &::-webkit-scrollbar {
          display: none;
        }

        scrollbar-width: none;
        -ms-overflow-style: none;
      }

      @include g.media(sp) {
        padding: 0 20px;
      }
    }

    &--box {
      &01 {
        display: flex;
        justify-content: space-between;
        align-items: end;
        gap: 24px;
        margin-bottom: 80px;

        @include g.media(sp) {
          margin-bottom: 32px;
          flex-direction: column;
          align-items: flex-start;
        }

        &--right {
          // @include g.media(sp) {
          //   display: none;
          // }
          display: flex;

          @include g.media(sp) {
            width: 100%;
            justify-content: end;
          }

          .c-button {
            cursor: pointer;
            position: relative;
            width: 48px;
            height: 48px;
            display: inline-flex;
            border-radius: 50%;
            padding: 8px;

            &:hover {
              &::before {
                opacity: 1;
              }
            }

            &::before {
              content: "";
              position: absolute;
              inset: 0;
              background-color: #F0F0F0;
              border-radius: 50%;
              opacity: 0;
              transition: opacity 0.3s ease-in-out;
            }

            img {
              position: relative;
            }
          }
        }
      }

      &02 {
        display: flex;
        gap: 32px;

        @include g.media(sp) {
          flex-direction: column;
        }
      }
    }

    &--item {

      a {
        text-decoration: none;
      }

      &:hover {
        .thumbnail img {
          transform: scale(1.1);
        }
      }

      .thumbnail {
        display: flex;
        overflow: hidden;
        height: 240px;
        background: g.$green03 url("../images/logo-tram-anh.png") no-repeat center / auto;

        @include g.media(sp) {
          height: 160px;
        }

        &:hover {
          opacity: 1;
        }

        img {
          width: 100%;
          object-fit: cover;
          transition: transform 0.3s ease-in-out;
        }
      }

      .contents {
        margin-block: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid g.$gray03;

        &.mb-0 {
          margin-bottom: 0;
        }
      }

      .title {
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.03em;
        min-height: 64px;

        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;

        @include g.media(sp) {
          font-size: 20px;
          line-height: 28px;
        }
      }

      .time {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: g.$gray04;
        margin-top: 8px;
      }
    }

    &--bottom {
      text-align: center;
      margin-top: 40px;

      @include g.media(sp) {
        margin-top: 32px;
      }
    }
  }

  &__commitment {
    padding-block: 120px;

    @include g.media(sp) {
      padding-block: 40px;
    }

    &--box {
      &01 {
        display: grid;
        grid-template-columns: 1fr 400px;
        gap: 40px;
        gap: 24px;
        margin-bottom: 80px;

        @include g.media(tab) {
          grid-template-columns: 1fr 1fr;
        }

        @include g.media(sp) {
          grid-template-columns: 1fr;
          margin-bottom: 32px;
          padding-inline: 20px;
        }

        &--right {
          &>*:not(:last-child) {
            margin-bottom: 32px;
          }

          @include g.media(sp) {
            display: none;
          }
        }
      }

      &02 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        @include g.media(sp) {
          grid-template-columns: 1fr;
          gap: 8px;
        }
      }
    }

    &--item {
      position: relative;
      height: 400px;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.15) 53.24%, rgba(0, 0, 0, 0.75) 100%);
      }

      .thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .contents {
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 24px;
        z-index: 2;
        color: g.$white01;
      }

      .title {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.03em;
        display: inline-flex;
        padding-block: 2px;

        &:after {
          content: "";
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url("../images/icon-arrow-right-up-04.svg") no-repeat center / cover;
        }
      }

      .desc {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        color: g.$gray02;
      }
    }

    &--bottom {
      text-align: center;
      margin-top: 32px;

      @include g.media(pc-tab) {
        display: none;
      }
    }
  }

  &__contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #FAFAFA;

    @include g.media(sp) {
      display: flex;
      flex-direction: column-reverse;
    }

    &--iframe {
      iframe {
        width: 100%;
        height: 100%;

        @include g.media(sp) {
          height: 100vw;
        }
      }
    }

    &--form {
      padding: 80px 80px 80px 64px;

      @include g.media(tab) {
        padding: 40px 20px;
      }
    }
  }
}