$font-family01: "Inter", sans-serif;
$font-family02: "Crimson Pro", serif;

$white01: #fff;
$black01: #1A1A1B;
$gray01: #656566;
$gray02: #D6D7D8;
$gray03: #E8E9EA;
$gray04: #ACADAE;
$red01: #dd5424;
$blue01: #3A84DD;
$yellow01: #ebbd4c;
$green01: #43B149;